/* text properties */
#p1{
    color:darkolivegreen;
    text-indent: 50px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: blue;
}
#q1{
    color:hotpink;
    text-indent: 50px;
    text-transform: uppercase;
    text-decoration: overline;
    text-decoration-style: double;
    text-decoration-color:black;

}
h1{
    text-align: center;
    text-decoration: underline;
    /* vertical, horizontal, shadow blurr, color */
    text-shadow: 10px 10px 5px red;
}

/* font properties */
div{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
}

/* Background properties */
section{
    height: 90vh;
    width: 100%;
    /* background-color:purple; */
    /* background:linear-gradient(purple, blue, purple); */
    /* background:radial-gradient(purple,black,purple); */
    /* background:conical-gradient(purple,blue,purple); */

    background-image: url("https://i.pinimg.com/236x/af/2d/f1/af2df1df054b299e8da44a783f4cf729.jpg"),url("https://images.stockcake.com/public/2/2/e/22e62e13-6c0c-4806-b316-5f4fb07b7937_large/dewy-flower-blossoms-stockcake.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-blend-mode: multiply; */
    /* background-blend-mode: screen; */
    /* background-blend-mode: overlay;  */
    /* background-blend-mode: darken; */
    /* background-blend-mode: lighten; */
    background-blend-mode: color;

}

h3{
    color:aqua;
}
article{
    height:300px;
    width:300px;
    background-color:chocolate;
    padding:200px 200px 200px 200px;
    margin-top: 50px;
    margin-right: 50px;
    /* margin-left: 50px; */
    float: right;
    opacity: 1.5;

    /* border-style: solid; */
    /* border-style: dotted; */
    border-style: double;

    /* border-radius: 30px; */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

    box-shadow: 50px 50px 50px 50px black;
}